<section class="home">
  <div class="slides-container">
    <div
      *ngFor="let slide of slides; let i = index"
      [class.active]="i === currentSlideIndex"
      class="slide"
    >
      <div class="content">
        <span>{{ slide.contentText }}</span>
        <h3>{{ slide.discount }}</h3>
        <span class="sec-text">{{ slide.secondaryText }}</span>
        <br />
        <a href="shop" class="btn">shop now</a>
      </div>
      <div class="image">
        <img [src]="slide.imagePath" alt="" />
      </div>
    </div>
  </div>

  <div id="next-slide" class="fas fa-arrow-right" (click)="next()"></div>
  <div id="prev-slide" class="fas fa-arrow-left" (click)="prev()"></div>
</section>
