<div class="heading">
  <h1>#aboutUs</h1>
  <p class="primary">Dedicated to serve you</p>
  <p class="secondary">Happy shopping!</p>
</div>

<section class="about">
  <img class="image" src="../../assets/about-img.jpg" alt="" />

  <p>
    Spare more with <a href="">Gfresh</a>! We give you the most minimal costs on
    the entirety of your grocery needs. <br /><br />
    <a href="">Gfresh</a> is a low-cost online general store that gets items
    crosswise over classifications like grocery, natural products and
    vegetables, excellence and health, family unit care, infant care, pet
    consideration, and meats and fish conveyed to your doorstep. <br /><br />
    Browse more than 5,000 items at costs lower than markets each day!
    <br /><br />
    Calendar conveyance according to your benefit.
    <br />
    Level 20% cashback on your first request with coupon code
    <span class="bold">GFRESH20</span> Max cashback is Rs.250. <br /><br />
    The world is evolving quickly, determined by various shopping propensities
    and always cutting-edge innovation for the customer. Grocery is the biggest
    of all retail portions and is moving on the web.
    <br /><br />
    Today, with more than 160 areas in 22 states, we are as yet dedicated to
    those qualities, while giving the mood of a neighborly nearby market and a
    one-of-a-kind shopping knowledge.
  </p>
</section>

<section class="gallery">
  <h1 class="title">our <span>gallery</span><a href="#">view all >></a></h1>

  <div class="box-container">
    <div class="box">
      <img src="../../assets/gallery-img-1.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-2.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-3.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-4.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-5.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-6.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-7.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-8.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-9.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-10.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-11.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-12.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-13.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-14.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-15.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-16.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-17.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/gallery-img-18.jpg" alt="" />
      <div class="icons">
        <a href="#" class="fas fa-eye"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-share"></a>
      </div>
    </div>
  </div>
</section>
