<section class="category">
  <h1 class="title">
    top <span> categories</span><a href="shop">view all >></a>
  </h1>

  <div class="box-container">
    <a href="fruits" class="box">
      <img src="../../assets/category/cat (1).png" alt="" />
      <h3>fresh fruits</h3>
    </a>

    <a href="vegetables" class="box">
      <img src="../../assets/category/cat (2).png" alt="" />
      <h3>fresh vegetables</h3>
    </a>

    <a href="beverages" class="box">
      <img src="../../assets/category/cat (3).png" alt="" />
      <h3>cold drinks & juices</h3>
    </a>

    <a href="chocolate" class="box">
      <img src="../../assets/category/cat (4).png" alt="" />
      <h3>sweet tooth</h3>
    </a>

    <a href="snacks" class="box">
      <img src="../../assets/category/cat (6).png" alt="" />
      <h3>munchies</h3>
    </a>
  </div>
</section>

<!-- fruits -->
<section class="category">
  <h1 class="title">
    top <span> fruits</span><a href="fruits">view all >></a>
  </h1>

  <div class="box-container">
    <a href="#" class="box">
      <img src="../../assets/fruit/fruit (4).png" alt="" />
      <h3>pomegranate</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/fruit/fruit (6).png" alt="" />
      <h3>papaya</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/fruit/fruit (8).png" alt="" />
      <h3>kiwi</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/fruit/fruit (11).png" alt="" />
      <h3>grapes</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/fruit/fruit (2).png" alt="" />
      <h3>watermelon</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/fruit/fruit (5).png" alt="" />
      <h3>cherry</h3>
    </a>
  </div>
</section>

<!-- vegtables -->
<section class="category">
  <h1 class="title">
    top <span> vegetables</span><a href="vegetables">view all >></a>
  </h1>

  <div class="box-container grow">
    <a href="#" class="box">
      <img src="../../assets/vegetable/vege (12).png" alt="" />
      <h3>chilli</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/vegetable/vege (2).png" alt="" />
      <h3>capsicum</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/vegetable/vege (5).png" alt="" />
      <h3>onion</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/vegetable/vege (9).png" alt="" />
      <h3>mushroom</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/vegetable/vege (10).png" alt="" />
      <h3>okra</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/vegetable/vege (14).png" alt="" />
      <h3>turnip</h3>
    </a>
  </div>
</section>

<!-- beverages -->
<section class="category">
  <h1 class="title">
    top <span> beverages</span><a href="beverages">view all >></a>
  </h1>

  <div class="box-container grow">
    <a href="#" class="box">
      <img src="../../assets/beverages/beverage (1).jpg" alt="" />

      <h3>mountain dew</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/beverages/beverage (1).webp" alt="" />

      <h3>thumbs up</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/beverages/beverage (3).jpg" alt="" />

      <h3>real fruit juice</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/beverages/beverage (10).webp" alt="" />

      <h3>amul kool</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/beverages/beverage (3).webp" alt="" />

      <h3>appy fizz</h3>
    </a>

    <a href="#" class="box">
      <img src="../../assets/beverages/beverage (4).webp" alt="" />

      <h3>frooti</h3>
    </a>
  </div>
</section>
