<header class="header">
  <a class="logo" href="/">
    <p>G<span class="green">fresh.</span></p>
  </a>

  <nav class="navbar">
    <a
      (click)="setActiveTab('home')"
      class=""
      [ngClass]="{ active: activeTab === 'home' }"
      >home</a
    >
    <a
      (click)="setActiveTab('shop')"
      [ngClass]="{ active: activeTab === 'shop' }"
      >Shop</a
    >
    <a
      (click)="setActiveTab('about')"
      [ngClass]="{ active: activeTab === 'about' }"
      >About</a
    >
    <a
      (click)="setActiveTab('review')"
      [ngClass]="{ active: activeTab === 'review' }"
      >Review</a
    >
    <a
      (click)="setActiveTab('blog')"
      [ngClass]="{ active: activeTab === 'blog' }"
      >Blog</a
    >
    <a
      (click)="setActiveTab('contact')"
      [ngClass]="{ active: activeTab === 'contact' }"
      >Contact</a
    >
  </nav>

  <div class="icons">
    <div id="menu-btn" class="fal fa-bars"></div>
    <div id="search-btn" class="fal fa-search"></div>
    <div id="cart-btn" class="fal fa-shopping-cart"></div>
    <div id="login-btn" class="fal fa-user"></div>
  </div>
</header>
