<header class="header">
  <a class="logo" href="/">
    <p>G<span class="green">fresh.</span></p>
  </a>

  <nav class="navbar">
    <a
      (click)="setActiveTab('home')"
      class=""
      [ngClass]="{ active: activeTab === 'home' }"
      >home</a
    >
    <a
      (click)="setActiveTab('shop')"
      [ngClass]="{ active: activeTab === 'shop' }"
      >Shop</a
    >
    <a
      (click)="setActiveTab('about')"
      [ngClass]="{ active: activeTab === 'about' }"
      >About</a
    >
    <a
      (click)="setActiveTab('review')"
      [ngClass]="{ active: activeTab === 'review' }"
      >Review</a
    >
    <a
      (click)="setActiveTab('blog')"
      [ngClass]="{ active: activeTab === 'blog' }"
      >Blog</a
    >
    <a
      (click)="setActiveTab('contact')"
      [ngClass]="{ active: activeTab === 'contact' }"
      >Contact</a
    >
  </nav>

  <div class="icons">
    <div id="menu-btn" class="fal fa-bars"></div>
    <div id="search-btn" class="fal fa-search"></div>
    <div id="cart-btn" class="fal fa-shopping-cart"></div>
    <div id="login-btn" class="fal fa-user"></div>
  </div>

  <form action="" class="search-form">
    <input type="search" placeholder="Search here..." id="search-box" />
    <label for="search-box" class="fas fa-search"></label>
  </form>

  <div class="shopping-cart">
    <div class="box">
      <i class="fas fa-times"></i>
      <img src="../images/fruit/fruit (8).png" />
      <div class="content">
        <h3>Kiwi fruit</h3>
        <span class="quantity">1</span>
        <span class="multiply">x</span>
        <span class="price">₹33.45</span>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-times"></i>
      <img src="../images/vegetable/vege (5).png" />
      <div class="content">
        <h3>onion</h3>
        <span class="quantity">1</span>
        <span class="multiply">x</span>
        <span class="price">₹45.50</span>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-times"></i>
      <img src="../images/chocolate/choco (1).jpg" style="width: 145px" />
      <div class="content">
        <h3>5 star</h3>
        <span class="quantity">1</span>
        <span class="multiply">x</span>
        <span class="price">₹10.00</span>
      </div>
    </div>
    <h3 class="total">total : <span>₹88.95</span></h3>
    <a href="cart.html" class="btn">checkout cart</a>
  </div>

  <form action="" class="login-form">
    <h3>login now</h3>
    <input type="email" placeholder="Enter your email" class="box" />
    <input type="password" placeholder="Enter your password" class="box" />
    <div class="remember">
      <input type="checkbox" name="" id="remeber-me" />
      <label for="remeber-me">remember me</label>
    </div>
    <input type="submit" value="login now" class="btn" />
    <p>forget password? <a href="#">click here</a></p>
    <p>don't have an account? <a href="#">create one</a></p>
  </form>
</header>
