<div class="heading">
  <h1>client reviews</h1>
  <p><a href="">home >></a> review</p>
</div>

<section class="info-container">
  <div class="info">
    <img src="../../assets/icon-1.png" alt="" />
    <div class="content">
      <h3>fast delivery</h3>
      <span>within 30 minutes</span>
    </div>
  </div>

  <div class="info">
    <img src="../../assets/icon-2.png" alt="" />
    <div class="content">
      <h3>24/7 available</h3>
      <span>call us anyime</span>
    </div>
  </div>

  <div class="info">
    <img src="../../assets/icon-3.png" alt="" />
    <div class="content">
      <h3>easy payments</h3>
      <span>cash or credits</span>
    </div>
  </div>
</section>

<section class="review">
  <div class="box">
    <div class="user">
      <img src="../../assets/pic-1.png" alt="" />
      <div class="info">
        <h3>Dr. Marissa Castello</h3>
        <span>happy customer</span>
      </div>
    </div>
    <p>
      "Always the freshest produce and meats, locally sourced when available.
      The staff is very helpful, and knowledgeable about the items in stock.
      Great selection of organic foods and an amazing wellness department."
    </p>
  </div>

  <div class="box">
    <div class="user">
      <img src="../../assets/pic-2.png" alt="" />
      <div class="info">
        <h3>Sheri Shipe</h3>
        <span>happy client</span>
      </div>
    </div>
    <p>
      Great independent grocery store with a wide variety of gourmet items and
      hard to find food stuffs. A great butcher offering local seafood and grass
      fed meats. There a good variety of organic fruits and vegetables but not
      always the freshest (but I'll admit I'm comparing to local farmer's
      markets). Best grocery store in Santa Cruz.
    </p>
  </div>

  <div class="box">
    <div class="user">
      <img src="../../assets/pic-3.png" alt="" />
      <div class="info">
        <h3>Paul Mcneil</h3>
        <span>happy client</span>
      </div>
    </div>
    <p>
      Staff allows me to live out my dreams of becoming a zero-waster. The best
      bulk selection around. Organic, beautiful produce. Better than your
      grandmas pot-pie. Gourmet cheese samples nearly every weekend. Hot meals
      on the go. What more could you ask for? We. Are. In. Love. Plus we love
      the staff.. seriously! This spot is a gem.
    </p>
  </div>

  <div class="box">
    <div class="user">
      <img src="../../assets/pic-4.png" alt="" />
      <div class="info">
        <h3>Joy De Noon</h3>
        <span>happy client</span>
      </div>
    </div>
    <p>
      This is the best local independently owned health food store in Santa Cruz
      county. They will have the best prices and you will be able to find the
      most unique hard to find items here as well. You will feel much better
      supporting a local company.
    </p>
  </div>

  <div class="box">
    <div class="user">
      <img src="../../assets/pic-5.png" alt="" />
      <div class="info">
        <h3>Clay Olson</h3>
        <span>happy client</span>
      </div>
    </div>
    <p>
      Luv this place in Santa Cruz! They have a great selection of products. The
      service staff is very helpful and pleasant. Service can be sometimes
      slow.The outdoor cafe seating area is always pleasant and clean. There is
      plenty of seating.Convenient location near freeway and public
      transportation. Not much parking, plenty of bike racks.
    </p>
  </div>

  <div class="box">
    <div class="user">
      <img src="../../assets/pic-6.png" alt="" />
      <div class="info">
        <h3>Tré Retter</h3>
        <span>happy client</span>
      </div>
    </div>
    <p>
      Plenty of wholesome foods to find at this place, bulk and non-bulk. They
      make some great burritos at the deli. There's a dude named McKinnely that
      will build your sandwich or burrito with white-glove customer service.
      Even if you simply go for the deli experience or the amazing cheese
      selection, Staff of Life is the place for earthy delectable.
    </p>
  </div>

  <div class="box">
    <div class="user">
      <img src="../../assets/pic-7.png" alt="" />
      <div class="info">
        <h3>Alexander Connelly</h3>
        <span>happy client</span>
      </div>
    </div>
    <p>
      Fun an quirky place to get some quality food. Love this local
      establishment!
    </p>
  </div>

  <div class="box">
    <div class="user">
      <img src="../../assets/pic-8.png" alt="" />
      <div class="info">
        <h3>Lauren Moser</h3>
        <span>happy client</span>
      </div>
    </div>
    <p>
      My favorite grocery store in town. Their produce top notch and the hot
      food bar and soups are always super tasty!
      <br />Best store of its' type in the area
    </p>
  </div>

  <div class="box">
    <div class="user">
      <img src="../../assets/pic-9.png" alt="" />
      <div class="info">
        <h3>Allison Turner</h3>
        <span>happy client</span>
      </div>
    </div>
    <p>
      Single Best health food store, locally owned and everything you could ever
      want. Not owned by Amazon like whole foods.
    </p>
  </div>
</section>
