<div class="heading">
  <h1>#blogPosts</h1>
  <p class="primary">Where we teach you about smart shopping</p>
  <p class="secondary">Amzaing finds in every visit</p>
</div>

<section class="blogs">
  <div class="box-container">
    <div class="box">
      <div class="image">
        <p class="date">13/01</p>
        <img src="../../assets/blog-1.jpg" />
      </div>
      <div class="content">
        <h1>Why You Need to Eat Your Greens</h1>
        <p>
          Leafy green vegetables are brimming with fiber, vitamins, and
          minerals. Eating a healthy portion every day can help protect you from
          many diseases, including heart disease, diabetes, and cancer, and can
          also help you live longer. Your body can feel more satisfied since it
          is getting the essential nutrients each cell requires to function
          properly.
        </p>
        <span>continue reading . . .</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <p class="date">13/01</p>
        <img src="../../assets/blog-2.jpg" />
      </div>
      <div class="content">
        <h1>5 Reasons to Switch to Skimmed milk</h1>
        <p>
          The myriad nutritional benefits of milk and its products are no more
          under the veil. Let’s highlight its advantages and visit an online
          store that offers Amul skimmed milk at the best price. This dairy
          product is gaining immense popularity among health-conscious people.
          Skimmed milk, with its nutritional content, gives a healthy start to a
          day.
        </p>
        <span>continue reading . . .</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <p class="date">13/01</p>
        <img src="../../assets/blog-3.jpg" />
      </div>
      <div class="content">
        <h1>Making the case for fruits and vegetables</h1>
        <p>
          Why do you love fruits and vegetables? Is it their bright colors?
          Their many shapes and varieties, the way they can makeover your plate
          with the seasons? The opportunity to taste local terroir in a very
          fresh bite of fruit or forkful of salad?
        </p>
        <span>continue reading . . .</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <p class="date">13/01</p>
        <img src="../../assets/blog-4.jpg" />
      </div>
      <div class="content">
        <h1>Difference Between Starchy and Non-Starchy Vegetables</h1>
        <p>
          Eating more vegetables has been associated with a decreased risk of
          chronic disease and better overall health. But you may have heard that
          you should avoid starchy vegetables because they're high in
          carbohydrates. Read on to learn about the benefits and concerns of
          starchy and non-starchy vegetables.
        </p>
        <span>continue reading . . .</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <p class="date">13/01</p>
        <img src="../../assets/blog-6.jpg" />
      </div>
      <div class="content">
        <h1>Soybean - Health Benefits, Nutrition Value & Recipes</h1>
        <p>
          Soybean or soya bean is a species of legumes that has become one of
          the most widely consumed foods in the world for its many health
          benefits. soybeans are native to East Asia and are highly grown in
          India as well. People who follow a strict vegetarian diet often use
          soybean to replace meat for protein.
          <br /><br />

          Along with having a high protein content, soybeans are also rich in
          saturated fats, fiber, antioxidants, Omega-3 fatty acids, and
          phytoestrogens, among other essential nutrients required by the body.
        </p>
        <span>continue reading . . .</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <p class="date">13/01</p>
        <img src="../../assets/blog-7.jpg" />
      </div>
      <div class="content">
        <h1>How to maintain a Balanced Diet</h1>
        <p>
          A balanced diet is a diet that contains differing kinds of foods in
          certain quantities and proportions so that the requirement for
          calories, proteins, minerals, vitamins and alternative nutrients is
          adequate and a small provision is reserved for additional nutrients to
          endure the short length of leanness. In addition, a balanced diet
          ought to offer bioactive phytochemicals like dietary fiber,
          antioxidants and nutraceuticals that have positive health advantages.
          A balanced diet should offer around 60-70% of total calories from
          carbohydrates, 10-12% from proteins and 20-25% of total calories from
          fat.
        </p>
        <span>continue reading . . .</span>
      </div>
    </div>
  </div>
</section>
